test_outputs/**
ifg_outputs/**
stratified_atm/**

!test_outputs/**/
!test_outputs/**/.gitkeep
!ifg_outputs/**/
!ifg_outputs/**/.gitkeep
!stratified_atm/**/
!stratified_atm/**/.gitkeep
!stratified_atm/**/*.tar.gz
!stratified_atm/**/*.txt

*.out
variogram/*.csv
variogram/*.npy
turbulent_atm/**/*.cpython-310.pyc
**/__pycache__/
